// STYLE GUIDE

@font-face {
  font-family: "Regular";
  src: url("Inter/Inter-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("Inter/Inter-SemiBold.otf") format("truetype");
}

body {
  font-family: 'Inter-Regular', 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #333B47;

  -webkit-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;

  a {
    text-decoration: none;
    color: #333B47;
  }


  ::selection {
    // background: #0256FF;
    // background: rgba(2,86,255,0.60);
    background: rgba(195,90,108,0.60);
    color: #FFF;
  }
}

.shadowed {
  box-shadow: 0px 16px 64px rgba(243, 245, 255, 0.4), 0px 8px 24px rgba(107, 122, 148, 0.08);
}

// LINKS

.link {
  cursor: pointer;

  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;

  span {
    color: #6BE0BF;
    opacity: 0;
    vertical-align: bottom;

    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }

  .dot {
    opacity: 1;
    visibility: visible;
    color: #A6B3C9;

    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }

  .red {
    color: #DE6969;
  }

  // -webkit-transition: all 0.3s ease-in-out 0s;
  // transition: all 0.3s ease-in-out 0s;
}

.link:hover, .loaded:hover {
  // color: #738EA5;
  color: #6C7A93;

  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;

  .dot {
    // display: none;
    color: #A6B3C9;
    // opacity: 0;
    // visibility: collapse;

    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }

  span {
    // color: #6BE0BF;
    opacity: 1;

    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
}



.loaded {
   // color: #6C7A93;

  span {
    // color: #ACB4C3;
    // color: #D9DEE8;
    // opacity: 1 !important;
  }
}

// .subLink {
//   cursor: pointer;
// }


// LINK IN THE BODY COPY ITSELF
.bodyLink {
  // border-bottom: 1px solid #6C7A93;
  border-bottom: 1px solid #A6B3C9;
  color: #333B47;

  // #7FE0FF;
  padding-bottom: 2px;
  // border-radius: 1px;

  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.bodyLink:hover {
  // color: #6BE0BF;
  color: #6C7A93;
  border-bottom: 1px solid #6BE0BF;
  padding-bottom: 2px;
// color: #6BE0BF;

  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.tags {
  display: flex;

  font-size: 14px;
  font-weight: 600;
  line-height: 24px;

  .tag {
    flex-direction: row;
    border-radius: 4px;
    // padding: 4px 8px 4px 8px;
    // padding: 4px 8px;
    padding: 4px 12px;
    margin: 0px 8px 0px 0px;
  }


  .date-tag {
    background-color: #E8EAFF;
  }
  .type-tag {
    background-color: #E0F8FF;
  }
}

.blue {
  color: #BADBF7;
}

#divider {
  // display: inline-block;
  width: 40px;
  // width: 100%;
  height: 2px;
  // background-color: #9FCAEF;
  // background-color: #6BE0BF
  // background-color: #DCDFE5;
  // background-color: #D9DEE8;
  // background-color: #A6B3C9;
  background-color: #D4DDED;
  // background-color: #6C7A93;
  border-radius: 1px;
  // margin-top: 40px;
}

#space {
  display: inline-block;
  margin: 80px 0 0 0;
  height: 2px;
  width: 100%;
  background-color: #D4DDED;
  border-radius: 1px;
}

.gray {
  color: #ACB4C3;
}

ul {
  max-width: 100%;

  li {
    max-width: 100%;
    margin: 0 0 4px 0;
  }
}

.customList {
  display: inline-block;
  text-align: left;

  .list {
    display: flex;
    margin: 0 0 12px 0;
    line-height: 28px;
    list-style: none;

    .i-bullet {
      // width: 20px;
      min-width: 20px;
      margin: 4px 12px 0 0;
    }
    .t-bullet {
      // width: 20px;
      min-width: 16px;
      margin: 0px 12px 0 0;
    }
  }
}

h3 {
  line-height: 40px;
  margin: 0 0 4px 0;
  // font-family: Inter;
  // font-weight: 500;
}

.desc-text {
  // width: calc(24vw - 80px);
  // width: 24vw;
  width: 40%;
  min-width: 320px;
}

.icon {
  min-height: 16px;
  min-width: 16px;

  background-size: contain;
  background-repeat: no-repeat;
}

.s-link {
  background-image: url("../files/icons/link.svg");
}

.s-ques {
  background-image: url("../files/icons/question.svg");
  // min-width: 22px !important;
}

.s-file {
  background-image: url("../files/icons/file.svg");
}

.s-video {
  background-image: url("../files/icons/film.svg");
}

.indent {
  // text-indent: 0px;

}

.tables {
  margin: 0px 0px 40px 0px;

  .flex-row {
    display: flex;
    justify-content: space-between;
  }

  .col {

    img {
      object-fit: contain;
      object-position: top;
    }
  }
}

.table-2 {
  .flex-row {
    margin: 0 0 24px 0;
  }

  .col {
    max-width: calc(50% - 20px);
  }

  .col-l {
    display: flex;
    // flex: 1;

      margin: 0 20px 0 0;
    // width: 48%;
  }
  .col-r {
    display: flex;
    // flex: 1;
    // width: calc(50% - 20px);
      margin: 0 0 0 20px;
    // width: 48%;
  }
}

.table-5 {
  .flex-row {
    margin: 0 0 12px 0;
  }

  .col-1, .col-2, .col-3, .col-4 {
    display: flex;
    // flex: 1;
    // width: calc(50% - 20px);
      margin: 0 12px 0 0;
    // width: 48%;
  }
  .col-5 {
    display: flex;
    // flex: 1;
    // width: calc(50% - 20px);
      // margin: 0 0 0 12px;
    // width: 48%;
  }
}




// GENERAL CONTAINER SIZING

.main-container {
  display: flex;
  flex-direction: row;
  // max-width: calc(100vw - 80px);
  max-width: 100vw;
  overflow: hidden;
  // justify-content: flex-start;
  align-items: stretch;


  .levels {
    display: flex;
    flex: none;
    flex-direction: column;
    // border: 1px #E9EEF6;

    // justify-content: flex-start;

    padding: 40px;
    max-height: calc(100vh - 80px);
  }

  .full-height {
    height: 100vh;
  }

  .itemOne {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // margin: 0px 0px 80px 0px;
    opacity: 1;

    -webkit-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;

    .itemTwo {
      margin: 0px 0px 40px 0px;

      img {
        // margin: 0px 0px 24px 0px;
      }
    }
  }

  .half-image {
    width: 50%;
  }

  .img-txt {
    margin: 8px 0 0 0;
  }

  .nav {
    width: 12vw;
    min-width: 256px;

    -webkit-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;

    .top-sec {
      // flex: 1 1 0;
      // justify-content: flex-start;
      margin: 0px 0px 80px 0px;
    }

    .mid-sec {
      flex: 3 1 0;
      // justify-content: flex-start;
      // margin: 0px 0px 80px 0px;
    }

    .botom-sec {
      flex: 1 1 0;
      // margin-top: auto
      justify-content: flex-end;
    }

    .itemOne {
      // display: none;
      // display: inline-block;
      // opacity: 0;
      //
      // -webkit-transition: all 0.8s ease-in-out 0s;
      // transition: all 0.8s ease-in-out 0s;
    }
  }

  // .flexed {
  //   flex-grow: auto;
  //   // transition: flex-grow 5000ms linear;
  //   -webkit-transition: all 0.5s ease-in-out 0s;
  //   transition: all 0.5s ease-in-out 0s;
  // }
  // .removed {
  //   flex-basis: 0.00001;
  //   min-width: 0px;
  //   width: 0px !important;
  //   padding: 0px !important;
  //   // transition: flex-grow 50000ms linear;
  //   -webkit-transition: all 1s ease-in-out 0s;
  //   transition: all 1s ease-in-out 0s;
  //
  //   .itemOne {
  //     opacity: 0;
  //
  //     -webkit-transition: all 0.1s ease-in-out 0s;
  //     transition: all 0.1s ease-in-out 0s;
  //   }
  // }

  .not-nav {
    // width: 2vw;
    width: 16px;
    cursor: pointer;

    background-color: #FFF;

    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;

    .itemOne {
      align-items: center;
    }

    .top-sec {
      // flex: 1 1 0;
      // justify-content: flex-start;
      margin: 0px 0px 80px 0px;
    }

    .mid-sec {
      flex: 3 1 0;
    }

    .botom-sec {
      flex: 1 1 0;
      // margin-top: auto
      justify-content: flex-end;
    }

    .icon {
      // stroke: #DCDFE5 !important;
      stroke: #6C7A93 !important;
      opacity: 0;

      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
    }
  }
  .not-nav:hover {
    background-color: #EEFFD9;

    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;

    .icon {
      // stroke: #6C7A93 !important;
      // stroke: #6BE0BF !important;
      opacity: 1;

      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
    }
  }

  .desc {
    overflow: scroll;
    width: 24vw;
    min-width: 320px;

    .top-sec {
      // flex: 1 1 0;
      // justify-content: flex-start;
      margin: 0px 0px 80px 0px;
    }

    .mid-sec {
      flex: 3 1 0;
      // justify-content: flex-start;
      // margin: 0px 0px 80px 0px;
    }

    .botom-sec {
      flex: 1 1 0;
      // margin-top: auto
      justify-content: flex-end;
    }
  }

  .conts {
    overflow: scroll;
    // width: 100%;
    // min-width: 320px;
    img {
      max-width: 100%;
    }

    .top-sec {
      // flex: 1 1 0;
      // justify-content: flex-start;
      margin: 0px 0px 80px 0px;
      color: #F3F5FF;
    }

    .mid-sec {
      flex: 3 1 0;
      // justify-content: flex-start;
      // margin: 0px 0px 80px 0px;
    }

    .botom-sec {
      flex: 1 1 0;
      // margin-top: auto
      justify-content: flex-end;
    }
  }
}

// .subPage {
//   position: absolute;
//   left: -400px;
//
//   -webkit-transition: all 1s ease-in-out 0s;
//   transition: all 1s ease-in-out 0s;
// }

// SPECIFIC CONTAINER CSS

#level-0 {
  flex-grow: 1 1 0;
  // padding: 40px;
  background-color: #FFFFFF;

  .top-sec {

    h1 {
      // flex: 1 1 0;
    }

    p {
      flex: 2 1 0;
    }
  }
}

#level-1 {
  flex: 3 1 0;
  // flex-grow: 1;
  // width: 100%;
  background-color: #FAFBFF;
}

#level-2 {
  flex: 5 1 0;
  // flex-grow: 1;
  // width: 100%;
  background-color: #F3F5FF;
  // background-color: #FAFBFF;
}


#section-break {
  width: 1px;
  background-color: #E9EEF6;
}
