body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.color-yellow {
    color: #FFEB3B;
}

.white:hover {
    background-color: #fff;
}

.link {
    margin-bottom: 10px;
}

#container {
    #menu {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        font-size: 1.1rem;

        .section-one {
            position: absolute;
            width: 330px;
            height: 100%;

            .name {
                position: relative;
                display: inline;
                left: 100px;
                top: 100px;
                font-size: 1.2rem;
                font-weight: 700;
            }

            .name::after {
                position: absolute;
                top: 50%;
                left: -5%;
                content: '';
                z-index: -1;
                height: 60%;
                width: 110%;
                background-color: #FFEB3B;
            }

            .extra {
                position: relative;
                left: 100px;
                top: 150px;
                width: 130px;

                a:hover {
                    background-color: #F3F3F3;
                }
            }
        }

        .divider {
            position: absolute;
            top: 100px;
            width: 2px;
            height: calc(100% - 200px);
            background-color: #F3F3F3;
            margin-left: 330px;
            z-index: 12;
        }

        .section-two {
            position: absolute;
            left: 330px;
            top: 100px;
            width: calc(100% - 430px);
            height: calc(100% - 200px);
            background-image: url("../files/images/white.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center top;

            .projects {
                margin-top: 70px;
                margin-left: 100px;
                width: 300px;

                p2 {
                    font-weight: 300;
                }
            }
        }

        .takeout-hov {
            background-image: url("../files/images/takeout/final1.jpg");
        }

        .underscore-hov {
            background-image: url("../files/images/underscore/final1.jpg");
        }

        .bubble-hov {
            background-image: url("../files/images/bubble/final1.jpg");
        }

        .nexus-hov {
            background-image: url("../files/images/nexus/temp.jpg");
        }

        .breakfast-hov {
            background-image: url("../files/images/breakfast/final1.jpg");
        }

        .robin-hov {
            background-image: url("../files/images/robin/temp.jpg");
        }
    }
}
@media (max-width: 800px) {
    #container {
        #menu {
            overflow: scroll;
            position: absolute;
            font-size: 1rem;

            .section-one {
                position: relative;
                width: 100%;
                height: 30%;

                .name {
                    left: 15%;
                    font-size: 1.1rem;
                }

                .extra {
                    left: 15%;
                }
            }

            .divider {
                position: relative;
                height: 2px;
                width: calc(70%);
                margin-left: 15%;
                // background-color: #fff;
            }

            .section-two {
                position: relative;
                left: 0;
                width: 100%;
                height: 50%;

                .projects {
                    position: relative;
                    left: 15%;
                    margin-left: 0;

                    ul {
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}
@media (max-width: 500px) {
    #container {
        #menu {
            .section-one {
                .name {
                    top: 12vw;
                }

                .extra {
                    top: 70px;
                }
            }

            .divider {
                top: 75px;
            }

            .section-two {
                top: 20px;
            }
        }
    }
}
@media (max-width: 350px) {
    #container {
        #menu {
            .section-one {
                .name {
                    top: 12vw;
                }

                .extra {
                    top: 80px;
                }
            }

            .divider {
                top: 150px;
            }

            .section-two {
                top: 100px;
            }
        }
    }
}
