body {
    font-family: 'Lato', sans-serif;
    color: #333333;

    a {
        text-decoration: none;
        color: #333333;
    }
}

#name {
    position: absolute;
    width: 120px;
    padding: 5px;
    text-align: center;
    left: calc(50vw - 60px);
    top: 35px;
    z-index: 10;

    font-size: 1rem;
    font-weight: 700;
    /* background-color: #FFEB3B;*/
    border: 1px solid #CCCCCC;
}

.corners {
    z-index: 10;
    position: fixed;
    font-size: 1rem;
    font-weight: 700;

    /* .line {*/
    /*     margin-left: 10px;*/
    /*     margin-right: 10px;*/
    /* }*/

    a {
        position: relative;
        /* text-decoration: underline;*/
        padding-bottom: 5px;
        border-bottom: 1px solid #CCCCCC;
    }

    a:before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 0%;
        height: 35%;
        top: 65%;
        left: -10%;
        background-color: #FFEB3B;
        /* background-color: #CCCCCC;*/
        visibility: hidden;
        /* -webkit-transform: rotate(-2deg);*/
        /* transform: rotate(-2deg);*/
        /* -webkit-transform: scaleX(0);*/
        /* transform: scaleX(0);*/
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;

    }

    a:hover:before {
        width: 120%;
        visibility: visible;
        /* -webkit-transform: scaleX(4);*/
        /* transform: scaleX(1);*/
    }
}

#philosophy {
    top: 40px;
    left: 40px;
}
#resume {
    top: 40px;
    right: 40px;
}
#photography {
    bottom: 40px;
    left: 40px;
}
#email {
    bottom: 40px;
    right: 40px;
}


#projects {
    display: table;
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* background-color: #F5515F;*/
    z-index: -2;

    .color {
        position: fixed;
        z-index: -2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        -webkit-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;

        img {
            display: none;
            width: 40%;
            margin-left: calc(30%);
            margin-top: calc(12.5%);
        }
    }

    .playfare {
        /* background-color: #FFDFD9;*/
        background-color: #FF9F8C;
    }

    .underscore {
        /* background-color: #E6E6E6;*/
        background-color: #B3B3B3;
    }

    .breakfast {
        /* background-color: #CCAEBA;*/
        background-color: #F5515F;
    }

    .robin {
        /* background-color: #C2E2F3;*/
        background-color: #CCEEFF;
    }

    .takeout {
        /* background-color: #E6C4AC;*/
        background-color: #E6A373;
    }

    ul {
        margin: 0 auto;
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        li {
            /* display: inline;*/
            margin: 2%;

            a {
                z-index: 1;
                position: relative;
                /* text-transform: uppercase;*/
                font-size: 4rem;
                font-weight: 500;
                color: #CCCCCC;
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;

                .num {
                    color: #CCCCCC;
                    margin-right: 5px;
                    font-size: .8rem;
                    text-decoration: none;

                    -webkit-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                }
            }

            a:hover {
                color: #333333;

                .num {
                    color: #333333;
                }
            }

            a:before {
                content: "";
                position: absolute;
                z-index: -1;
                width: 120%;
                height: 35%;
                top: 65%;
                left: -10%;
                background-color: #FFEB3B;
                /* background-color: #CCCCCC;*/
                visibility: hidden;
                /* -webkit-transform: rotate(-2deg);*/
                /* transform: rotate(-5deg);*/
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
            }

            a:hover:before {
                /* width: 100%;*/
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
    }
}

@media (max-width: 800px) {
    #name {
        display: none;
    }

    #projects {
        .color {
            display: none;
        }

        ul {

            li {
                margin-bottom: 4vh;
            }
        }
    }
}

@media (max-width: 600px) {
    .corners {
        font-size: .8rem;
    }
    #philosophy {
        top: 20px;
        left: 20px;
    }
    #resume {
        top: 20px;
        right: 20px;
    }
    #photography {
        bottom: 20px;
        left: 20px;
    }
    #email {
        bottom: 20px;
        right: 20px;
    }


    #projects {

        ul {
            li {
                margin: 0;
                margin-bottom: 6vh;

                a {
                    font-size: 3rem;
                }
            }
        }
    }
}

@media (max-width: 350px) {
    #projects {
        ul {
            li {
                margin: 0;
                margin-bottom: 6vh;

                a {
                    font-size: 2.8rem;
                }
            }
        }
    }
}
