@font-face {
  font-family: "Regular";
  src: url("Inter/Inter-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("Inter/Inter-SemiBold.otf") format("truetype");
}

body {
  font-family: 'Inter-Regular', 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 26px;

  a {
    text-decoration: none;
    color: #000;
  }
  // ::selection {
  //   // background: #0256FF;
  //   // background: rgba(2,86,255,0.60);
  //   background: rgba(195,90,108,0.60);
  //   color: #FFF;
  // }
}

.link {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link:hover {
  color: #738EA5;

  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.blue {
  color: #BADBF7;
}

header {
  position: fixed;
  top: 40px;
  left: 40px;

  // max-width: calc(100vw - 80px);
  max-width: 440px;

  h1 {
    margin-bottom: 80px;
  }
}

#hear {
  position: absolute;

  top: 0vh;
  left: 520px;
  height: 100vh;
  width: calc(100vw - 520px);

  overflow: scroll;
//
//
//   // ../files/hear/mix-1.jpg
//
//   img {
//     // height: 60vh;
//     // width: 30vw;
//     max-width: 100%;
//     // max-height: 100%;
//   }

  section {
    height: 100%;
    max-width: 100%;

    background-size: cover;
    background-attachment: fixed;
    background-image: url(../files/hear/mix-1.jpg);
  }

  .one {
    // background-image: url(../files/hear/mix-1.jpg);
  }
  .two {
    background-image: url(../files/hear/mix-2.jpg);
  }
  .three {
    background-image: url(../files/hear/mix-3.jpg);
  }
  .four {
    background-image: url(../files/hear/mix-4.jpg);
  }
}

footer {
  position: fixed;
  bottom: 40px;
  left: 40px;

  // max-width: calc(100vw - 80px);
  max-width: 440px;
}

#placeholder {
  display: inline-block;
  width: 40px;
  height: 2px;
  background-color: #9FCAEF;
  border-radius: 2px;
  margin-top: 40px;
}

@media (max-width: 450px) {
  header{
    margin-top: 20px;
    margin-left: 20px;
    max-width: calc(100vw - 40px);
  }

  footer {
    bottom: 20px;
    left: 20px;
  }
}
