@font-face {
  font-family: "Regular";
  src: url("Inter/Inter-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("Inter/Inter-SemiBold.otf") format("truetype");
}

body {
  font-family: 'Inter-Regular', 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 26px;

  a {
    text-decoration: none;
    color: #000;
  }
  // ::selection {
  //   // background: #0256FF;
  //   // background: rgba(2,86,255,0.60);
  //   background: rgba(195,90,108,0.60);
  //   color: #FFF;
  // }
}

// .blue {
//   // color: #0256FF;
//   color: #C35A6C;
//   font-family: 'monoBold';
// }
//
// .bolder {
//   font-family: 'monoBold';
// }

.link {
  // text-decoration: underline;
  // font-family: 'monoReg';

  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link:hover {
  // font-family: 'monoBold';
  // color: #0256FF;
  color: #738EA5;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

// h1 {
//   font-family: 'monoBold';
// }
//
// h3 {
//   font-style: italic;
//   // margin-top: 2px;
//   line-height: 1.2rem;
// }

#top-sec {
  // position: absolute;
  margin-top: 40px;
  margin-left: 40px;

  max-width: calc(100vw - 80px);

  div {
    // margin-bottom: 80px;
  }
}

.section {
  max-width: 440px;
  // max-width: calc(100vw - 80px);
  // margin-bottom: 80px;
}

.title {
  margin-bottom: 80px;
}

.blue {
  color: #BADBF7;
}

#bottom-sec {
  position: absolute;
  bottom: 40px;
  left: 40px;

  max-width: calc(100vw - 80px);
}

#placeholder {
  display: inline-block;
  width: 40px;
  // height: calc(100vh - 502px);
  height: 2px;
  background-color: #9FCAEF;
  border-radius: 2px;
  // margin-top: 80px;
  // margin-bottom: 80px;

  // background: #ccc;
}

#info {
  // max-width: 475px;
  max-width: 440px;
  min-width: 320px;
}

// @media (max-width: 800px) {
//
// }

@media (max-width: 450px) {
  #top-sec {
    margin-top: 20px;
    margin-left: 20px;
    max-width: calc(100vw - 40px);
  }

  #bottom-sec {
    bottom: 20px;
    left: 20px;
  }
}
