body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    transition: 0.5s ease-in-out;
}

.color-yellow {
    color: #FFEB3B;
}

.color-white {
    color: #FFF;
}

.active {
    background-color: #F3F3F3;
}

.link {
    margin-bottom: 10px;
}

#container {
    #menu {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        font-size: 1.1rem;

        .section-one {
            position: absolute;
            width: 30vw;
            height: 100%;

            .name {
                position: relative;
                z-index: 0;
                display: inline-block;
                left: calc(15vw - 75px);
                top: 25vh;
                font-size: 1.2rem;
                font-weight: 700;
            }

            .name::after {
                position: absolute;
                z-index: -1;
                top: 50%;
                left: -5%;
                content: '';
                height: 60%;
                width: 110%;
                background-color: #FFEB3B;
            }

            .extra {
                position: relative;
                left: calc(15vw - 75px);
                top: 30vh;
                width: 130px;

                a:hover {
                    background-color: #FFF7B1;
                }
            }
        }

        .section-two {
            position: absolute;
            left: 30vw;
            width: 20vw;
            height: 100vh;
            background-color: #FFEB3B;

            .name {
                position: relative;
                z-index: 0;
                display: inline-block;
                left: calc(10vw - 75px);
                top: 25vh;
                font-size: 1.2rem;
                font-weight: 700;
            }

            .projects {
                position: relative;
                top: 30vh;
                left: calc(10vw - 75px);
                width: 150px;

                p2 {
                    font-weight: 300;
                }

                li {
                    top: 30vh;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center top;
                }
            }
        }

        .section-three {
            position: absolute;
            width: 50%;
            height: 100%;
            left: 50vw;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center top;
            transition: 0.5s ease-in-out;
        }

        .takeout-hov {
            background-image: url("../files/images/takeout/final1.jpg");
        }

        .underscore-hov {
            background-image: url("../files/images/underscore/final1.jpg");
        }

        .bubble-hov {
            background-image: url("../files/images/bubble/final1.jpg");
        }

        .nexus-hov {
            background-image: url("../files/images/nexus/temp.jpg");
        }

        .breakfast-hov {
            background-image: url("../files/images/breakfast/final1.jpg");
        }

        .robin-hov {
            background-image: url("../files/images/robin/final1.jpg");
        }
    }
}
@media (max-width: 800px) {
    #container {
        #menu {
            overflow: auto;
            position: relative;
            font-size: 1rem;

            .section-one {
                position: relative;
                width: 100vw;
                height: 40vh;
                min-height: 250px;

                .name {
                    left: calc(10vw);
                    top: 5vh;
                    font-size: 1rem;
                }

                .extra {
                    left: calc(10vw);
                    top: 10vh;
                }
            }

            .section-two {
                position: relative;
                left: 0;
                width: 100vw;
                height: 60vh;
                min-height: 300px;

                .name {
                    left: calc(10vw);
                    top: 5vh;
                    font-size: 1rem;
                }

                .projects {
                    left: calc(10vw);
                    top: 10vh;
                }
            }

            .section-three {
                display: none;
            }
        }
    }
}
