body {
    font-family: 'Lato', sans-serif;
}

.color-yellow {
    font-size: 1.1rem;
    color: #FFEB3B;
}

a {
    text-decoration: none;
    color: #000;
}

.link {
    /* text-decoration: underline;*/
    font-weight: 900;
}

.link:hover {
    text-decoration: underline;
}

p3 {
    font-style: italic;
    font-weight: 300;
}

#scroll {
    display: none;
    position: fixed;
    z-index: 13;
    bottom: 100px;
    left: 100px;
    width: 50px;
    height: 50px;
    background-color: #FFEB3B;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

#container {
    .name {
        position: fixed;
        display: inline;
        left: 100px;
        top: 100px;
        font-size: 1.2rem;
        font-weight: 700;

        a:hover {
            background-color: #F3F3F3;
        }
    }

    .name::after {
        position: absolute;
        top: 50%;
        left: -5%;
        content: '';
        z-index: -1;
        height: 60%;
        width: 110%;
        background-color: #FFEB3B;
    }

    #content {
        font-size: 1.1rem;
        position: absolute;
        left: 25%;
        top: 170px;
        width: calc(50%);
        margin: 0 0 80px;

        div {
            margin: 0 0 20px;
        }

        .header {
            p2 {
                font-weight: 300;
            }
        }

        .image-one {
            height: 500px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center top;
        }

        .takeout-hov {
            background-image: url("../files/images/takeout/final1.jpg");
        }

        .underscore-hov {
            background-image: url("../files/images/underscore/final1.jpg");
        }

        .bubble-hov {
            background-image: url("../files/images/bubble/final1.jpg");
        }

        .nexus-hov {
            background-image: url("../files/images/nexus/temp.jpg");
        }

        .breakfast-hov {
            background-image: url("../files/images/breakfast/final1.jpg");
        }

        .robin-hov {
            background-image: url("../files/images/robin/final1.jpg");
        }

        .para {
            margin: 0 0 20px;
            line-height: 2rem;
        }

        .image-list {
            img {
                max-width: 100%;
                margin: 0 0 20px;
            }

            #last {
                margin-bottom: 0;
            }
        }

        .takeout-process {
            background-size: contain;
            background-image: url("../files/images/takeout/process.jpg");
        }

        .video {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.5%;

            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }
    }
}
@media (max-width: 800px) {
    #scroll {
        bottom: 20px;
        left: calc(15%);
        width: calc(70%);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.20), 0 5px 10px 0 rgba(0,0,0,0.10);
    }

    #container {
        .name {
            position: relative;
            /**/
            left: 15%;
            /**/
            font-size: 1.1rem;
        }

        #content {
            position: relative;
            font-size: 1rem;
            /**/
            margin: 0 0 200px;
            left: 15%;
            /**/
            width: calc(70%);
            /**/
        }
    }
}
@media (max-width: 500px) {
    #container {
        .name {
            top: 12vw;
        }

        #content {
            top: 100px;

            .image-one {
                height: 300px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center top;
            }
        }
    }
}
