body {
   font-family: 'Lato', sans-serif;

   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;

   -webkit-transition: all 5s ease-in-out;
   transition: all 5s ease-in-out;

}

a {
   text-decoration: none;
   color: #000000;
}
.back-yellow:hover {
      background-color: #FFF7B1;
      height: 100%;
      width: 100%;

      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
   img {
      display: block;
   }
}

.color-yellow {
   font-weight: 900;
   color: #FFEB3B;
}

#menu {
   height: 100%;
   width: 350px;
   position: fixed;
   background-color: #fff;
   z-index: 10;

   #name {
      display: inline;
      position: absolute;
      top: 100px;
      left: 100px;

      font-size: 1.2em;
      font-weight: 700;

      .link::after {
         position: absolute;
         top: 50%;
         left: -5%;
         content: '';
         z-index: -1;

         height: 75%;
         width: 110%;
         background-color: #FFEB3B;
      }
   }

   #projects {
      display: none;
      position: relative;
      overflow: hidden;
      top: 200px;
      left: 100px;

      width: 100%;
      height: 100%;

      ul {
         li {
            margin-bottom: 15px;
            .back-yellow  {
               font-size: 1.1em;
               display: inline;
               line-height: 1.1em;
               // z-index: 1;

               -webkit-transition: all .5s ease-in-out;
               transition: all .5s ease-in-out;
               p2 {
                  font-size: .9em;
                  font-weight: 300;
               }
            }
         }
      }
   }

   #extra {
      position: absolute;
      bottom: 100px;
      left: 100px;
      // margin: 0 auto;
      // text-align: center;
      // width: 100%;

      ul {
         li {
            // display: inline;
            .back-yellow {
               font-size: 1.1em;
               display: inline;

               -webkit-transition: all .5s ease-in-out;
               transition: all .5s ease-in-out;
            }
         }
      }
   }
}
