@font-face {
  font-family: "monoBold";
  src: url("pt-mono.bold.ttf") format("truetype");
}
@font-face {
  font-family: "monoReg";
  src: url("pt-mono.regular.ttf") format("truetype");
}

body {
  font-family: 'monoReg', 'Lato', sans-serif;

  a {
    text-decoration: none;
    color: #000;
  }
  ::selection {
    // background: #0256FF;
    background: rgba(2,86,255,0.60);
    color: #FFF;
  }
}

.blue {
  color: #0256FF;
  font-family: 'monoBold';
}

.link {
  text-decoration: underline;
  // font-family: 'monoReg';

  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link:hover {
  // font-family: 'monoBold';
  color: #0256FF;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h1 {
  font-family: 'monoBold';
}

h3 {
  font-style: italic;
  margin-top: 2px;
  line-height: 1.2rem;
}

.content {
  margin-top: 10vh;
  margin-left: 10vw;

  line-height: 25px;
}

#info {
  // max-width: 475px;
  max-width: 32vw;
  min-width: 400px;
}

.big {
  font-family: Lato;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 900;
}

#projects {
  display: inline-block;
  margin-top: 10vh;

  .outer {
    margin-top: 20px;
    // columns: 3;
    max-width: 80vw;
    // order: horizontal;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    .inner {
      width: 25vw;
      margin-right: 1vw;
      break-inside: avoid-column;
    }
  }

  a {
    display: inline-block;
    margin-bottom: 100px;
    cursor: pointer;

    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

    h2 {
      text-decoration: underline;
    }
    img {
      // margin-bottom: 100px;
      max-width: 25vw;
      -webkit-filter: brightness(100%);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
  }
  a:hover {
    color: #0256FF;

    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

    img {
      // transform: scale(1.02);
      -webkit-filter: brightness(50%);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
  }

  // #smart {
  //   img {
  //     max-width: 600px;
  //   }
  // }
  // #hear {
  //   img {
  //     max-width: 400px;
  //   }
  // }
  // #hbo {
  //   img {
  //     max-width: 700px;
  //   }
  // }
  // #playfare {
  //   img {
  //     max-width: 600px;
  //   }
  // }
  // #bigone {
  //   img {
  //     max-width: 400px;
  //   }
  // }
}

@media (max-width: 800px) {
  .content {
    margin-top: 10vh;
    margin-left: 5vw;

    line-height: 25px;
  }

  #info {
    max-width: 90vw;
  }

  #projects {
    a {
      max-width: 90vw;
    }
    #smart, #hear, #hbo, #playfare, #bigone {
      img {
        max-width: 90vw;
      }
    }
  }
}
