
// STYLE GUIDE

// @font-face {
//   font-family: "Regular";
//   src: url("Inter/Inter-Regular.otf") format("truetype");
// }
//
// @font-face {
//   font-family: "Inter-SemiBold";
//   src: url("Inter/Inter-SemiBold.otf") format("truetype");
// }

body {
  font-family: 'Inter', 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #333B47;

  a {
    text-decoration: none;
    color: #333B47;
  }
  // ::selection {
  //   // background: #0256FF;
  //   // background: rgba(2,86,255,0.60);
  //   background: rgba(195,90,108,0.60);
  //   color: #FFF;
  // }
  ::selection {
    // background: #0256FF;
    // background: rgba(2,86,255,0.60);
    background: #EEFFD9;
    // color: #FFF;
  }
}

canvas{
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.noSpace {
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px 0px 0px !important;
}



// LINKS

.pageLink {
  // background-color: #EEFFD9;
  overflow: auto;

  .desc-text {
    width: 100%;
  }

  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;

  .pageName {
    display: inline-block;
    border-bottom: 1px solid #DCDFE5;
    // color: #333B47;

    padding-bottom: 1px;
    margin-bottom: 4px;

    -webkit-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;

  }

  .pageImage {
    position: fixed;
    bottom: 40px;
    right: 40px;

    // width: 640px;

    // height: 0px;
    text-align: right;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 9;

    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;

    img {
      max-width: 640px;
      max-height: 48vh;
      object-fit: contain;

      align-items: right;

      box-shadow: 0px 16px 64px rgba(243, 245, 255, 0.4), 0px 8px 24px rgba(107, 122, 148, 0.08);
    }
  }
}

.pageLink:hover {
  color: #6C7A93;
  // background-color: #EEFFD9;

  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;

  .pageName {
    // border-bottom: 1px solid #6BE0BF;
    border-bottom: 1px solid #DCDFE5;
    padding-bottom: 1px;

    -webkit-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;

  }

  .pageImage {
    visibility: visible;
    opacity: 1;

    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;

    img {

    }
  }
}

.link {
  // border-bottom: 1px solid #6C7A93;

  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;

  span {
    color: #6BE0BF;
    opacity: 0;
    display: none;

    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }

  // -webkit-transition: all 0.3s ease-in-out 0s;
  // transition: all 0.3s ease-in-out 0s;
}

.link:hover {
  // color: #738EA5;
  color: #6C7A93;

  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;

  // span {
  //   opacity: 1;
  //
  //   -webkit-transition: all 0.5s ease-in-out 0s;
  //   transition: all 0.5s ease-in-out 0s;
  // }
}


// LINK IN THE BODY COPY ITSELF
.bodyLink {
  border-bottom: 1px solid #DCDFE5;
  color: #333B47;

  // #7FE0FF;
  padding-bottom: 2px;
  // border-radius: 1px;

  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.bodyLink:hover {
  // color: #6BE0BF;
  color: #6C7A93;
  border-bottom: 1px solid #DCDFE5;
  padding-bottom: 2px;
// color: #6BE0BF;

  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.tags {
  display: flex;

  font-size: 14px;
  font-weight: 600;

  .tag {
    flex-direction: row;
    border-radius: 4px;
    // padding: 4px 8px 4px 8px;
    // padding: 4px 8px;
    padding: 4px 12px;
    margin: 0px 8px 0px 0px;
  }


  .date-tag {
    background-color: #E8EAFF;
  }
  .type-tag {
    background-color: #EEFFD9;
  }

  .type-tag-two {
    font-size: 18px;
    line-height: 28px;
    // background-color: #EEFFD9;
    padding: 0px;
    border-bottom: 2px solid #EEFFD9;
  }
}

.blue {
  color: #BADBF7;
}

#divider {
  display: inline-block;
  width: 40px;
  // width: 100%;
  height: 2px;
  // background-color: #9FCAEF;
  // background-color: #6BE0BF
  background-color: #DCDFE5;
  // background-color: #ADB5C3;
  // background-color: #6C7A93;
  border-radius: 2px;
  // margin-top: 40px;
}

.gray {
  color: #DCDFE5;
}

ul {
  li {
    margin: 0 0 4px 0;
  }
}

.customList {
  display: inline-block;
        text-align:left;

  li {
    margin: 0 0 8px 0;
    line-height: 30px;

    list-style-image: url("../files/icons/link.svg");
    list-style-position: inside;
    padding-left: 28px;
    text-indent: -28px;
  }

  li::before {
    color: #DCDFE5;
  }
}

h3 {
  font-size: 14px;
  font-weight: 600;
}




// GENERAL CONTAINER SIZING

.main-container {
  display: flex;
  flex-direction: row;
  max-width: calc(100vw - 80px);
  // max-width: 100vw;
  // overflow: hidden;
  justify-content: flex-start;

  .body-text {
    max-width: 480px;
    // width: 64vw;
  }

  .levels {
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: flex-start;

    padding: 40px;
    max-height: calc(100vh - 80px);
  }

  .full-height {
    max-height: 100vh;
    // height: calc(100vh - 80px);
    // overflow: hidden;
  }

  .itemOne {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // margin: 0px 0px 80px 0px;

    .itemTwo {
      margin: 0px 0px 120px 0px;
    }
  }

  .nav {
    max-width: 100%;

    .top-sec {
      margin: 0px 0px 120px 0px;
    }

    .mid-sec {
      max-width: 1680px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0px 0px 80px 0px;
    }
  }

  .flexChunks {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .chunk {
      max-width: 480px;
      width: 480px;
      margin: 0px 80px 64px 0px;
    }
  }
}

@media (max-width: 800px) {

  .main-container {

    .flexChunks {
      // display: flex;
      // flex-direction: row;
      // flex-wrap: wrap;

      .chunk {
        // max-width: 480px;
        // width: 480px;
        margin: 0px 0px 64px 0px;
      }
    }
  }
}

@media (max-width: 560px) {

  .pageImage {
    display: none;
  }

  body {
    font-size: 16px;
    line-height: 24px;
  }

  .main-container {
    width: 100vw;
    max-width: 100vw;

    .levels {

      padding: 24px;
      width: calc(100vw - 48px);
    }

    .itemOne {

      .itemTwo {
        margin: 0px 0px 800px 0px;
      }
    }

    .nav {

      .top-sec {
        // flex: 1 1 0;
        // justify-content: flex-start;
        margin: 0px 0px 80px 0px;
      }

      .mid-sec {
        max-width: 100%;
      }
    }

    .flexChunks {
      // display: flex;
      // flex-direction: row;
      // flex-wrap: wrap;
      max-width: 100%;

      .chunk {
        // max-width: 480px;
        // width: 480px;
        max-width: 100%;
        margin: 0px 0px 48px 0px;
      }
    }
  }
}
