
// STYLE GUIDE

@font-face {
  font-family: "Regular";
  src: url("Inter/Inter-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("Inter/Inter-SemiBold.otf") format("truetype");
}

body {
  font-family: 'Inter-Regular', 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #333B47;

  a {
    text-decoration: none;
    color: #333B47;
  }
  // ::selection {
  //   // background: #0256FF;
  //   // background: rgba(2,86,255,0.60);
  //   background: rgba(195,90,108,0.60);
  //   color: #FFF;
  // }
}


// LINKS

.link {

  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;

  span {
    color: #6BE0BF;
    opacity: 0;

    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }

  // -webkit-transition: all 0.3s ease-in-out 0s;
  // transition: all 0.3s ease-in-out 0s;
}

.link:hover {
  // color: #738EA5;
  color: #6C7A93;

  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;

  span {
    opacity: 1;

    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
}


// LINK IN THE BODY COPY ITSELF
.bodyLink {
  border-bottom: 1px solid #6C7A93;
  color: #333B47;

  // #7FE0FF;
  padding-bottom: 2px;
  // border-radius: 1px;

  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.bodyLink:hover {
  // color: #6BE0BF;
    color: #6C7A93;
  border-bottom: 1px solid #6BE0BF;
  padding-bottom: 2px;
// color: #6BE0BF;

  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.tags {
  display: flex;

  font-size: 14px;
  font-weight: 600;

  .tag {
    flex-direction: row;
    border-radius: 4px;
    // padding: 4px 8px 4px 8px;
    // padding: 4px 8px;
    padding: 4px 12px;
    margin: 0px 8px 0px 0px;
  }


  .date-tag {
    background-color: #E8EAFF;
  }
  .type-tag {
    background-color: #E0F8FF;
  }
}

.blue {
  color: #BADBF7;
}

#divider {
  display: inline-block;
  width: 40px;
  // width: 100%;
  height: 2px;
  // background-color: #9FCAEF;
  // background-color: #6BE0BF
  background-color: #DCDFE5;
  // background-color: #6C7A93;
  border-radius: 2px;
  // margin-top: 40px;
}

.gray {
  color: #DCDFE5;
}

ul {
  li {
    margin: 0 0 4px 0;
  }
}

.customList {
  display: inline-block;
        text-align:left;

  li {
    margin: 0 0 8px 0;
    line-height: 30px;

    list-style-image: url("../files/icons/link.svg");
    list-style-position: inside;
    padding-left: 28px;
    text-indent: -28px;
  }

  li::before {
    color: #DCDFE5;
  }
}




// GENERAL CONTAINER SIZING

.main-container {
  display: flex;
  flex-direction: row;
  max-width: calc(100vw - 80px);
  overflow: hidden;
  justify-content: flex-start;

  .levels {
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: flex-start;

    padding: 40px;
    max-height: calc(100vh - 80px);
  }

  .full-height {
    height: 100vh;
  }

  .itemOne {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // margin: 0px 0px 80px 0px;

    .itemTwo {
      margin: 0px 0px 40px 0px;
    }
  }

  .nav {
    width: 15vw;
    min-width: 320px;

    .top-sec {
      // flex: 1 1 0;
      // justify-content: flex-start;
      margin: 0px 0px 80px 0px;
    }

    .mid-sec {
      flex: 3 1 0;
      // justify-content: flex-start;
      // margin: 0px 0px 80px 0px;
    }

    .botom-sec {
      flex: 1 1 0;
      // margin-top: auto
      justify-content: flex-end;
    }
  }

  .desc {
    overflow: scroll;
    width: 25vw;
    min-width: 320px;

    .top-sec {
      // flex: 1 1 0;
      // justify-content: flex-start;
      margin: 0px 0px 80px 0px;
    }

    .mid-sec {
      flex: 3 1 0;
      // justify-content: flex-start;
      // margin: 0px 0px 80px 0px;
    }

    .botom-sec {
      flex: 1 1 0;
      // margin-top: auto
      justify-content: flex-end;
    }
  }
}


// SPECIFIC CONTAINER CSS

// #level-0 {
//   // flex-grow: 1;
//   // padding: 40px;
//   background-color: #FFFFFF;
//
//   .top-sec {
//
//     h1 {
//       // flex: 1 1 0;
//     }
//
//     p {
//       flex: 2 1 0;
//     }
//   }
// }

#level-1 {
  // flex-grow: 1;
  // width: 100%;
  background-color: #FAFBFF;
}
