
// STYLE GUIDE

// @font-face {
//   font-family: "Regular";
//   src: url("Inter/Inter-Regular.otf") format("truetype");
// }
//
// @font-face {
//   font-family: "Inter-SemiBold";
//   src: url("Inter/Inter-SemiBold.otf") format("truetype");
// }

body {
  font-family: 'Inter', 'Source Sans Pro', sans-serif;
  // font-size: 16px;
  // font-size: 1.1rem;
  // line-height: 24px;

  font-size: 1rem !important;
  line-height: 1.4rem !important;
  width: 100vw;
  color: #333B47;

  // background-color: #FAFBFF;

  a {
    text-decoration: none;
    color: #333B47;
  }
  // ::selection {
  //   // background: #0256FF;
  //   // background: rgba(2,86,255,0.60);
  //   background: rgba(195,90,108,0.60);
  //   color: #FFF;
  // }
  ::selection {
    // background: #0256FF;
    // background: rgba(2,86,255,0.60);
    background: #EEFFD9;
    // color: #FFF;
  }
}

canvas{
  position: fixed;
  z-index: -1;
  // width: 100%;
  width: 100vw;
  height: 100vh;
}

.noSpace {
  padding: 0px 0px 0px 0px !important;
  margin: 0px 0px 0px 0px !important;
}

.fortyUpDown {
  margin: 40px 0px 40px 0px !important;
}

.lh-spacing {
  line-height: 1.8rem !important;
}

// LINKS

.desc-text {
  // width: 100%;
  color: #6B7A94;
}

.pageLink {
  // background-color: #EEFFD9;
  overflow: auto;

  .desc-text {
    width: 100%;
    color: #6B7A94;
  }

  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;

  .pageName {
    display: inline-block;
    // border-bottom: 1px solid #D4DDED;
    // color: #333B47;

    // padding-bottom: 1px;
    // margin-bottom: 4px;

    -webkit-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;

  }

  .pageImageTwo {
    // position: fixed;
    // bottom: 40px;
    // right: 40px;

    width: 100%;
    // width: 480px;
    margin: 0px 0px 8px 0px;
    // max-width: 480px;
    // box-sizing: border-box;

    // height: 0px;
    // text-align: right;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;

    img {
      max-width: 480px;
      width: 100%;
      display: block;

      // max-height: 40vh;
      object-fit: contain;

      align-items: right;

      box-shadow: 0px 16px 64px rgba(243, 245, 255, 0.4), 0px 8px 24px rgba(107, 122, 148, 0.08);

      -webkit-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
    }
  }
}

.pageImageTwo {
  // position: fixed;
  // bottom: 40px;
  // right: 40px;

  width: 100%;
  // width: 480px;
  margin: 0px 0px 8px 0px;
  // max-width: 480px;
  // box-sizing: border-box;

  // height: 0px;
  // text-align: right;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;

  img {
    max-width: 480px;
    width: 100%;


    // max-height: 40vh;
    object-fit: contain;

    align-items: right;

    box-shadow: 0px 16px 64px rgba(243, 245, 255, 0.4), 0px 8px 24px rgba(107, 122, 148, 0.08);

    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
}

.pageLink:hover {
  // color: #6B7A94;
  color: #6B7A94;
  // background-color: #EEFFD9;

  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;

  .pageName {
    // border-bottom: 1px solid #6BE0BF;
    // border-bottom: 1px solid #D4DDED;
    // padding-bottom: 1px;

    -webkit-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;

  }

  .pageImageTwo {

    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;

    // border: 4px solid #EEFFD9;

    img {
      // box-shadow: none;

      // box-shadow: 0px 4px 40px #EEFFD9, 0px 0px 16px rgba(146, 150, 247, 0.08);

      -webkit-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
    }
  }
}

.link {
  // border-bottom: 1px solid #6B7A94;

  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  // -webkit-transition: all 0.3s ease-in-out 0s;
  // transition: all 0.3s ease-in-out 0s;
}

.link:hover {
  // color: #738EA5;
  color: #6B7A94;

  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;

  // span {
  //   opacity: 1;
  //
  //   -webkit-transition: all 0.5s ease-in-out 0s;
  //   transition: all 0.5s ease-in-out 0s;
  // }
}


// LINK IN THE BODY COPY ITSELF
.bodyLink {
  border-bottom: 1px solid #D4DDED;
  // color: #333B47;
  // color: #6B7A94;

  // #7FE0FF;
  padding-bottom: 2px;
  border-radius: 1px;

  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.bodyLink:hover {
  // color: #6BE0BF;
  color: #6B7A94;
  // color: #A6B3C9;
  // border-bottom: 1px solid #D4DDED;
  // padding-bottom: 2px;
// color: #6BE0BF;

  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.activePage {
  // color: #A6B3C9 !important;
  padding-bottom: 2px;
  // border-bottom: 1px solid #CFF5A3;
  border-bottom: 1px solid #D4DDED;
}

.sect {
  display: inline;

  li {
    display: inline;
    margin: 0px 24px 0px 0px;
  }
}

.tags {
  display: flex;

  font-size: 14px;
  font-weight: 600;

  .tag {
    flex-direction: row;
    border-radius: 4px;
    // padding: 4px 8px 4px 8px;
    // padding: 4px 8px;
    padding: 4px 12px;
    margin: 0px 8px 0px 0px;
  }


  .date-tag {
    background-color: #E8EAFF;
  }
  .type-tag {
    background-color: #EEFFD9;
  }

  .type-tag-two {
    font-size: 18px;
    line-height: 28px;
    // background-color: #EEFFD9;
    padding: 0px;
    border-bottom: 2px solid #EEFFD9;
  }
}

.blue {
  color: #BADBF7;
}

#divider {
  display: inline-block;
  width: 40px;
  // width: 100%;
  height: 2px;
  // background-color: #9FCAEF;
  // background-color: #6BE0BF
  background-color: #D4DDED;
  // background-color: #ADB5C3;
  // background-color: #6B7A94;
  border-radius: 2px;
  // margin-top: 40px;
}

.gray {
  color: #D4DDED;
}

ul {
  li {
    margin: 0 0 4px 0;
  }
}

.customList {
  display: inline-block;
        text-align:left;

  li {
    margin: 0 0 8px 0;
    line-height: 30px;

    list-style-image: url("../files/icons/link.svg");
    list-style-position: inside;
    padding-left: 28px;
    text-indent: -28px;
  }

  li::before {
    color: #D4DDED;
  }
}

h3 {
  font-size: 14px;
  font-weight: 600;
}




// GENERAL CONTAINER SIZING

.main-container {
  width: 100vw;
  // display: flex;
  // flex-direction: row;
  // max-width: calc(100vw - 80px);
  // max-width: 100vw;
  // overflow: hidden;
  // justify-content: flex-start;

  .body-text {
    // max-width: 480px;
    max-width: 100%;
    // width: 64vw;
  }

  .levels {
    // display: flex;
    // flex: none;
    // flex-direction: column;
    // justify-content: flex-start;

    padding: 40px;
    width: calc(100% - 80px);
    // max-height: calc(100vh - 80px);
  }

  .full-height {
    max-height: 100vh;
    // height: calc(100vh - 80px);
    // overflow: hidden;
  }

  .itemOne {
    // justify-content: flex-start;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    margin: 0px 0px 80px 0px;

    .itemTwo {
      margin: 0px 0px 120px 0px;

      // .itemThree {
      //   margin: 0px 0px 40px 0px;
      // }
    }
  }

  .nav {
    max-width: 100%;

    .top-sec {
      margin: 0px 0px 120px 0px;
    }

    .mid-sec {
      max-width: 1680px;

      // display: flex;
      // flex-direction: column;
      // justify-content: flex-start;
      margin: 0px 0px 80px 0px;
    }
  }

  .flexChunks {
    // position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;


    margin: 0px 0px 120px 0px;

    .chunk {
      max-width: 480px;
      // width: 480px;
      width: 24vw;
      min-width: 360px;
      margin: 0px 80px 120px 0px;
    }
  }
}

@media (max-width: 800px) {

  .main-container {

    .flexChunks {
      // display: flex;
      // flex-direction: row;
      // flex-wrap: wrap;

      .chunk {
        // max-width: 480px;
        // width: 480px;
        margin: 0px 0px 80px 0px;

        max-width: 480px;
        // width: 480px;
        width: 100%;
        min-width: 100%;
      }
    }
  }
}

@media (max-width: 560px) {

  canvas {
  }

  .pageImage {
    display: none;
  }

  body {
    font-size: 1rem !important;
    line-height: 1.4rem !important;
  }

  .main-container {
    // width: 100vw;
    // max-width: 100vw;

    .levels {

      padding: 24px;
      width: calc(100% - 48px);
    }

    .itemOne {

      .itemTwo {
        margin: 0px 0px 80px 0px;
      }
    }

    .nav {

      .top-sec {
        // flex: 1 1 0;
        // justify-content: flex-start;
        margin: 0px 0px 80px 0px;
      }

      .mid-sec {
        max-width: 100%;
      }
    }

    .flexChunks {
      // display: flex;
      // flex-direction: row;
      // flex-wrap: wrap;
      max-width: 100%;

      .chunk {
        // max-width: 480px;
        // width: 480px;
        max-width: 100%;
        margin: 0px 0px 64px 0px;
      }
    }
  }
}
