body {
   font-family: 'Lato', sans-serif;
}

a {
   text-decoration: none;
   color: #000000;
}
.back-yellow:hover {
      background-color: #FFFFC2;
      height: 100%;
      width: 100%;

      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
   img {
      display: block;
   }
}

.color-yellow {
   font-weight: 900;
   color: #FFFF66;
}

#menu {
   height: 100%;
   width: 350px;
   position: fixed;
   background-color: #fff;
   z-index: 10;
   left: 100px;

   #name {
      display: inline;
      position: absolute;
      top: 100px;

      font-size: 1.3em;
      font-weight: 700;

      .link::after {
         position: absolute;
         top: 50%;
         left: -5%;
         content: '';
         z-index: -1;

         height: 75%;
         width: 110%;
         background-color: #FFFF66;
      }
   }

   #projects {
      // display: none;
      position: relative;
      overflow: hidden;
      top: 200px;
      width: 100%;
      height: 100%;

      ul {
         li {
            margin-bottom: 15px;
            .back-yellow  {
               font-size: 1.2em;
               display: inline;
               line-height: 1.1em;
               // z-index: 1;

               -webkit-transition: all .5s ease-in-out;
               transition: all .5s ease-in-out;
               p2 {
                  font-size: .9em;
                  font-weight: 300;
               }
            }
         }
      }
   }

   #extra {
      position: absolute;
      bottom: 100px;
      // margin: 0 auto;
      // text-align: center;
      // width: 100%;

      ul {
         li {
            // display: inline;
            .back-yellow {
               font-size: 1.2em;
               display: inline;

               -webkit-transition: all .5s ease-in-out;
               transition: all .5s ease-in-out;
            }
         }
      }
   }
}

#yellow {
   position: fixed;
   top: 100px;
   right: 100px;

   height: calc(100% - 200px);
   width: calc(50% - 100px);

   // background-color: #FFFF66;
   background-color: #FFFFC2;
   // box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.10), 0px 0px 30px 0px rgba(0,0,0,0.10);
}

#proj-image {
   display: none;
   position: fixed;
   width: 100%;
   top: 15%;
   left: 40%;


   img {
      display: none;
      width: 50%;
   }

   img.finalQuiet {
      width: 35%;
   }

   img.finalTakeout {
      margin-top: -5%;
   }

   img.finalKs {
      // width: 60%;
   }

   // .has {
   //    display: block;
   // }
}

body.open {
   #proj-image {
      display: block;

      .has {
         display: block;
      }
   }
}

@media (max-width: 770px) {
   #menu {
      left: 50px;

      #name {
         display: inline;
         position: absolute;
         top: 50px;
      }
      #projects {
         top: 150px;
      }
      #extra {
         bottom: 50px;
      }
   }
   #yellow {
      display: none;
   }

   body.open {
      #proj-image {
         display: none;

         .has {
            display: none;
         }
      }
   }
}

@media (max-width: 500px) {
   #menu {
      left: 30px;

      #name {
         display: inline;
         position: absolute;
         top: 30px;
      }
      #projects {
         top: 100px;
      }
      #extra {
         bottom: 30px;
      }
   }
}
